#header nav{
    background-color: black;text-align: center;
}
#header nav a{
    text-decoration: none;color: white;margin-right: 20px;
}
#main table tr td{
    padding-left: 100px;
}
#main table tr td{
    text-align: center;padding-left: 150px;
}
#main table tr td button{
    color: white;background-color: orangered;
}
#bottom{
    text-align: center;background-color: black; width: fulwidth;
}
#bottom p{
    color: aliceblue;
}
#bottom button{
    color: white;background-color: orangered;
}